body {
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eef1f6;
    padding: 0;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: block;
    float: right;
    padding: 10px;
}

#content {
    display: block;
    flex: 1;
    flex-basis: auto;
    overflow: auto;
    box-sizing: border-box;
    min-width: 1900px;
    padding-left: 276px;
    padding-bottom: 15px;
    padding-top: 76px;
    padding-right: 15px;
}