& {
    height: 60px;
    line-height: 60px;
    padding-left: 276px;
    background-color: rgb(238, 241, 246);
    margin: 0px;
}

p {
    color: #444;
    font-size: 16px;
    margin: 0 5px 0 0;
}

p span {
    color: red;
}